.table-wrapper {
  position: relative;
  min-height: 200px;
}

.table-container {
  position: relative;
  height: 350px;
  overflow: auto;
}

.table-next-wrapper {
  position: relative;
  min-height: 65px;
}

.table-next-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
}

.table-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

