<mat-toolbar class="toolbar mat-elevation-z6" color="primary">
  <mat-toolbar-row>
    <button (click)="sidenav.toggle()" fxHide.gt-sm="true" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1 [routerLink]="['/landing']" class="mat-button toolbar-logo">ParkSpace</h1>
    <div fxHide fxShow.gt-sm="true">
      <a [routerLink]="['/booking']" class="mat-button">Booking</a>
      <a [routerLink]="['/itinerary']" class="mat-button">Itinerary</a>
      <a [routerLink]="['/report']" class="mat-button">Report</a>
    </div>
    <div class="space-horizontal"></div>
    <div style="padding-right: 12px">
      <p class="mat-h4" style="margin-bottom: 0">{{getUserDisplayname()}}</p>
    </div>
    <div fxHide fxShow.gt-sm="true">
      <button mat-raised-button (click)="logout()">
        <span>Logout</span>
      </button>
    </div>
    <button [matMenuTriggerFor]="toolbarVertMenu" fxHide.gt-sm="true" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #toolbarVertMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav sidenav-fullscreen">
  <mat-sidenav #sidenav [mode]="(screenWidth < 840) ? 'over' : 'side'">
    <mat-nav-list>
      <a (click)="onRowClicked('booking'); toggleIfMobile()" mat-list-item [routerLink]="['/booking']">
        <mat-icon matListIcon class="drawer-menu-icon">assignment</mat-icon>
        <span mat-line>Booking</span>
      </a>
      <a (click)="onRowClicked('itinerary'); toggleIfMobile()" mat-list-item [routerLink]="['/itinerary']">
        <mat-icon matListIcon class="drawer-menu-icon">assignment</mat-icon>
        <span mat-line>Itinerary</span>
      </a>
      <a (click)="onRowClicked('report'); toggleIfMobile()" mat-list-item [routerLink]="['/report']">
        <mat-icon matListIcon class="drawer-menu-icon">report_problem</mat-icon>
        <span mat-line>Report</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content #sidenavContent>
    <div class="basic-container">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
