<div style="width: 80%; margin: 0 auto; padding-bottom: 64px;">
  <div style="margin-top: 64px; margin-bottom: 16px;">
    <h1 class="mat-display-1" style="margin-bottom: 32px;">Playground</h1>
  </div>

  <h2 class="mat-h3">Go <a [routerLink]="['/landing']">Back</a></h2>

  <div style="padding-top: 64px; padding-bottom: 16px;">
    <h1 class="mat-h1">In development ordered by priority</h1>
  </div>
  <mat-list>
    <mat-list-item>Reservation booking dialog confirmation</mat-list-item>
    <mat-list-item>Reservation booking service execution</mat-list-item>
    <mat-list-item>Itinerary cancellation service execution</mat-list-item>
    <mat-list-item>Reservation booking checkout page</mat-list-item>
    <mat-list-item>Itinerary page redesign</mat-list-item>
    <mat-list-item>Report page design</mat-list-item>
    <mat-list-item>Reservation booking spot information utilization display</mat-list-item>
    <mat-list-item>App Footer population</mat-list-item>
    <mat-list-item>Landing mini-game/animation</mat-list-item>
    <mat-list-item>Mobile and browser resize layout consideration</mat-list-item>
    <mat-list-item>Reservation booking schedule information date validation</mat-list-item>
  </mat-list>

</div>
