@import '../node_modules/@angular/material/theming';
@import 'src/app/components/landing/landing.component.theme';

@mixin material-custom-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  // Include theme styles for custom components.
  @include landing-component-theme($theme);
}
