$space-blue: (
  50 : #e3e6ea,
  100 : #b9c0ca,
  200 : #8b96a7,
  300 : #5c6c84,
  400 : #394d69,
  500 : #162d4f,
  600 : #132848,
  700 : #10223f,
  800 : #0c1c36,
  900 : #061126,
  A100 : #628aff,
  A200 : #2f64ff,
  A400 : #0040fb,
  A700 : #003ae1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$tangerine: (
  50 : #fdede4,
  100 : #fbd3bc,
  200 : #f9b590,
  300 : #f69764,
  400 : #f48142,
  500 : #f26b21,
  600 : #f0631d,
  700 : #ee5818,
  800 : #ec4e14,
  900 : #e83c0b,
  A100 : #ffffff,
  A200 : #ffe5e0,
  A400 : #ffbbad,
  A700 : #ffa693,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$madder: (
  50 : #f5e5e9,
  100 : #e6bdc7,
  200 : #d591a2,
  300 : #c4657c,
  400 : #b84460,
  500 : #ab2344,
  600 : #a41f3e,
  700 : #9a1a35,
  800 : #91152d,
  900 : #800c1f,
  A100 : #ffb1bb,
  A200 : #ff7e8e,
  A400 : #ff4b62,
  A700 : #ff314b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);
