@import 'node_modules/@angular/material/theming';

// Define a mixin that accepts a theme and outputs the theme-specific styles.
@mixin footer-component-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  // Define any styles affected by the theme.
  .footer-color {
    // Use mat-color to extract individual colors from a palette.
    background-color: mat-color($primary);
  }

  footer p, footer a, footer h1 {
    color: mat-contrast($primary, 500);
  }
}
